body{
  margin: 25px;
  font-family: cursive;
  letter-spacing: 1.2px;
  background-image: url('../img/istockphoto-1266428142-612x612.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -195px;
}
.app-container{
  padding: 30px;
  box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 36%);
  border-radius: 12px;
  background-color: white;
}
.app-title{
  text-align: center;
  color: rgb(47 47 47 / 91%);
}
.input-style{
  margin: 0 auto;
  position: relative;
  display: block;
  border: none;
}
.input-style input{
  width: 80%;
  height: 24px;
  border-color: transparent;
  border-bottom-color: silver;
  margin: 0 auto;
  display: block;
  font-family: cursive;
  letter-spacing: 1.2px;
}
.input-style input:visited{
  border-radius: 5px;
  border-color: silver;
}
.add-task-label{
  text-align: center;
  display: block;
}
.edit-label i{
  text-decoration: none!important;
  padding-left: 10px;
}
.task-list{
  padding: 0 30px;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}
.li-style{
  padding: 10px;
  margin-top: 10px;
  color: rgb(47 47 47 / 91%);
  border: 1px solid rgb(47 47 47 / 91%);
  border-radius: 5px;
}
.btn-style{
  margin-left: 10px;
  color: rgb(74 74 74 / 91%);
  background-color: #d3f096;
  float: right;
  font-family: cursive;
  border-radius: 3px;
}
.marked{
  color: white;
  font-weight: 600;
  background-color: rgb(89, 173, 127);
  text-decoration: line-through;
}
.li-task-element{
  cursor: pointer;
  user-select: none;
}